config/items_config.txt
 config/levels_config.txt 
 config/sample_config.txt
 __pycache__/main.cpython-313.pyc
 .pytest_cache/README.md
 food_drop/__pycache__/__init__.cpython-313.pyc food_drop/__pycache__/board.cpython-313.pyc food_drop/__pycache__/decorators.cpython-313.pyc food_drop/__pycache__/entities.cpython-313.pyc food_drop/__pycache__/game_state.cpython-313.pyc food_drop/__pycache__/game.cpython-313.pyc food_drop/__pycache__/io_utils.cpython-313.pyc food_drop/__pycache__/items.cpython-313.pyc food_drop/__pycache__/managers.cpython-313.pyc food_drop/__pycache__/storage.cpython-313.pyc
 saves/last_state.bin saves/scores.txt
 tests/__pycache__/test_game.cpython-313-pytest-9.0.2.pyc